#activity_container {
  background-image: url('../images/terminal.png');
  margin: 0 auto;
  margin-bottom: 20px;
}

input:focus {
  outline: 0;
}
.userInput {
  font-family: 'JetBrains Mono';
  color: #000;
  background-color: transparent;
  border-style: none;
  border: 0px solid yellow;
  width: 610px;
  margin-top: 2px;
  text-align: left;
  color: #fff;
  font-size: 16px;
}
#navigator {
  width: 235px;
  height: 37px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.skipBtn-enable,
.skipBtn-disable {
  display: inline-block;
  width: 114px;
  height: 37px;
  background: url('../images/Skip_h.html');
  cursor: pointer;
}

.skipBtn-disable {
  display: inline-block;
  background: url('../images/Skip_n.html');
  cursor: pointer;
}

.margin_small {
  margin-left: 10px;
}
.margin_medium {
  margin-left: 20px;
}
.margin_medium_large {
  margin-left: 68px;
}
.margin_large {
  margin-left: 100px;
}

.bytes_display {
  width: 55px;
  text-align: right;
  display: inline-block;
  height: 20px;
  padding-right: 5px;
}

.buttonStyle {
  width: 100px;
  height: 30px;
  background-color: #000;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}
.buttonStyle-disable {
  background-color: #ccc;
  display: inline-block;
  color: #000;
}

.active {
  color: green;
  font-weight: bold;
}
