#activity-container {
  position: relative;
  margin: 0 auto;
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#page1hotspot {
  height: 53px;
  left: 255px;
  position: absolute;
  top: 252px;
  width: 258px;
}

#page2hotspot {
  height: 22px;
  left: 453px;
  position: absolute;
  top: 365px;
  width: 63px;
}

#page3hotspot {
  height: 19px;
  left: 738px;
  position: absolute;
  top: 0;
  width: 25px;
}

#page4hotspot {
  height: 22px;
  left: 498px;
  position: absolute;
  top: 97px;
  width: 272px;
}

#page5hotspot {
  height: 22px;
  left: 498px;
  position: absolute;
  top: 124px;
  width: 272px;
}

#page6hotspot {
  height: 22px;
  left: 470px;
  position: absolute;
  top: 341px;
  width: 96px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  color: #3c3c3c;
  height: 14px;
  background-color: transparent;
  border-style: none;
}

#pg2input {
  left: 265px;
  position: absolute;
  top: 295px;
  width: 248px;
}

.toggleR {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
}
.toggleR.checked {
  background: url('../images/radio_button_selected.html') no-repeat scroll center center;
  background-size: 16px 16px;
}
