#activity-container {
  position: relative;
  margin: 0 auto;
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#nextbtnhotspot {
  height: 23px;
  left: 711px;
  position: absolute;
  top: 550px;
  width: 63px;
}

#page1hotspot {
  height: 19px;
  left: 754px;
  position: absolute;
  top: 0;
  width: 25px;
}

#page2hotspot {
  height: 18px;
  left: 560px;
  position: absolute;
  top: 135px;
  width: 218px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #fff;
  height: 14px;
  background-color: transparent;
  border-style: none;
  border: 0px solid red;
}

#pg3input {
  left: 87px;
  position: absolute;
  top: 306px;
  width: 208px;
}

.toggleR {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
}
.toggleR.checked {
  background: url('../images/radio_button_selected.html') no-repeat scroll center center;
  background-size: 16px 16px;
}
