#activity-container {
  position: relative;
  margin: 0 auto;
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#page1hotspot {
  height: 42px;
  left: 0;
  position: absolute;
  top: 291px;
  width: 47px;
}

#page2hotspot {
  height: 61px;
  left: 291px;
  position: absolute;
  top: 268px;
  width: 62px;
}

#page3hotspot {
  height: 26px;
  left: 268px;
  position: absolute;
  top: 365px;
  width: 113px;
}

#page4hotspot {
  height: 26px;
  left: 268px;
  position: absolute;
  top: 386px;
  width: 113px;
}

#page5hotspot {
  height: 21px;
  left: 629px;
  position: absolute;
  top: 499px;
  width: 96px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #fff;
  height: 14px;
  background-color: transparent;
  border-style: none;
  border: 1px solid red;
}
#pg2input {
  left: 288px;
  position: relative;
  top: 43px;
  width: 215px;
}
