#activity-container {
  position: relative;
  margin: 0 auto;
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#page1hotspot {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

#page2hotspot {
  height: 25px;
  left: 322px;
  position: absolute;
  top: 240px;
  width: 151px;
}

#page3hotspot_0 {
  height: 161px;
  left: 121px;
  position: absolute;
  top: 193px;
  width: 257px;
}

#page4hotspot_0 {
  height: 146px;
  left: 76px;
  position: absolute;
  top: 98px;
  width: 195px;
}
#page4hotspot_1 {
  height: 146px;
  left: 288px;
  position: absolute;
  top: 99px;
  width: 192px;
}

#page4hotspot_2 {
  height: 146px;
  left: 498px;
  position: absolute;
  top: 99px;
  width: 194px;
}
#page4hotspot_3 {
  height: 145px;
  left: 77px;
  position: absolute;
  top: 261px;
  width: 194px;
}

#page4hotspot_4 {
  background: url('../images/selectbtn.jpg') no-repeat;
  height: 24px;
  left: 649px;
  position: absolute;
  top: 478px;
  width: 65px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #3c3c3c;
  height: 14px;
  background-color: transparent;
  border-style: none;
  border: 0px solid red;
}
