#activity-container {
  position: relative;
  margin: 0 auto;
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#page1hotspot {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

#page2hotspot {
  height: 50px;
  left: 0;
  position: absolute;
  top: 486px;
  width: 58px;
}

#page3hotspot {
  height: 82px;
  left: 200px;
  position: absolute;
  top: 310px;
  width: 75px;
}

#page4hotspot {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

#page5hotspot {
  height: 18px;
  left: 138px;
  position: absolute;
  top: 18px;
  width: 138px;
}

#page6hotspot {
  height: 75px;
  left: 176px;
  position: absolute;
  top: 99px;
  width: 512px;
}

#page7hotspot {
  height: 20px;
  left: 120px;
  position: absolute;
  top: 142px;
  width: 169px;
}

#page8hotspot {
  height: 20px;
  left: 434px;
  position: absolute;
  top: 133px;
  width: 119px;
}

#page9hotspot {
  height: 24px;
  left: 433px;
  position: absolute;
  top: 157px;
  width: 119px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #fff;
  height: 14px;
  background-color: transparent;
  border-style: none;
  border: 0px solid red;
}

#pg5input {
  left: 284px;
  position: absolute;
  top: 43px;
  width: 222px;
}
