#activity-container {
  position: relative;
  margin: 0 auto;
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#page1hotspot {
  height: 39px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 48px;
}

#page2hotspot {
  height: 90px;
  left: 415px;
  position: absolute;
  top: 94px;
  width: 117px;
}

#page3hotspot {
  height: 39px;
  left: 0;
  position: absolute;
  top: 202px;
  width: 48px;
}

#page4hotspot {
  height: 69px;
  left: 208px;
  position: absolute;
  top: 459px;
  width: 50px;
}

#page5hotspot {
  height: 18px;
  left: 103px;
  position: absolute;
  top: 172px;
  width: 210px;
}

#page6hotspot {
  height: 24px;
  left: 466px;
  position: absolute;
  top: 167px;
  width: 150px;
}

#page7hotspot {
  height: 20px;
  left: 466px;
  position: absolute;
  top: 145px;
  width: 150px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #3c3c3c;
  height: 14px;
  background-color: transparent;
  border-style: none;
  border: 0px solid red;
}
