#activity-container {
  position: relative;
  margin: 0 auto;
  background-image: url('../images/Ubuntu_desktop.jpg');
}

#activity-hotspot {
  position: absolute;
  top: 0;
  left: 0;
}

#incorrect-feedback-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid green;
}

#page1hotspot_0 {
  position: relative;
  height: 36px;
  width: 36px;
  left: 4px;
  top: 64px;
}

#page2hotspot_0 {
  left: 74px;
  top: 353px;
  position: absolute;
  width: 143px;
  height: 24px;
}

#page3hotspot_0 {
  height: 50px;
  left: 261px;
  position: absolute;
  top: 167px;
  width: 40px;
}

#page4hotspot_0 {
  height: 50px;
  left: 380px;
  position: absolute;
  top: 228px;
  width: 40px;
}

input {
  position: absolute;
  left: 0;
  top: 0;
}

input:focus {
  outline: 0;
}
.input-field {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: #3c3c3c;
  height: 14px;
  background-color: transparent;
  border-style: none;
}

.toggleR {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
}
.toggleR.checked {
  background: url('../images/radio_button_selected.html') no-repeat scroll center center;
  background-size: 16px 16px;
}
