/* 
 * Base styles.
*/
body {
  background-color: var(--tiy-bg-color);
  color: var(--tiy-text-color);
  font-family: var(--tiy-font-family-base);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

code {
  font-family: var(--tiy-font-family-monospace);
  background-color: var(--tiy-code-bg-color);
  padding: 1px 2px;
  font-size: 0.95em;
}

#title {
  font-size: 1.3em;
  font-weight: 500;
}

#description {
}

#extra {
  font-weight: 300;
  font-size: 0.9em;
}

#lang-switch {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}

#main_container {
  margin: 0 auto;
  width: 780px;
  height: 588px;
}

.hotspot {
  border: 0px solid green;
  height: 15px;
  width: 30px;
  cursor: pointer;
}

#content_wrapper {
  display: inline-block;
  width: 780px;
  height: 588px;
}

#seperator {
  clear: both;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  width: 780px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#instruction_panel {
  width: 780px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#instruction_text {
  line-height: 25px;
}

/* GUI related exercises. */
#activity-container {
  width: 780px;
  height: 584px;
  background-color: #aaa;
  background-position: center center;
}

/* Terminal related exercises. */
#activity_container {
  width: 780px;
  height: 580px;
  background-color: #000;
}

#activity-container,
#activity_container {
  background-repeat: no-repeat;
  border-radius: 6px;
  box-shadow: inset 0 0 6px #000000;
}

#activity {
  width: auto;
  height: 543px; /* 580-27-(2*5) */
  position: relative;
  padding: 5px;
  top: 27px;
  overflow: auto;
}

#blank_line {
  width: 821px;
  height: 30px;
}

.cmdtext {
  border: 0px solid black;
  font-family: 'JetBrains Mono';
  color: #fff;
  font-size: 16px;
}

/*
 * Overlay feedback popup.
*/
.overlay-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: #000; /* fallback */
  background: rgba(0, 0, 0, 0.75);
  filter: alpha(opacity=75);
}
.overlay-popup {
  background: #fff;
  padding: 5px;
  width: 345px;
  position: relative;
  cursor: default;
  border: 5px solid #cecece;
  box-shadow: 0 0 20x rgba(#959595, #959595, #959595, 0.5);
}

.overlay-content {
  border-radius: 4px;
  background: #fff;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  color: #3c3c3c;
  font-family: 'Ubuntu', sans-serif;
}

.close-btn {
  position: relative;
  width: 17px;
  height: 17px;
  background: url(../images/close.png) no-repeat;
  float: right;
  cursor: pointer;
}
.close-btn:hover {
}
