:root {
  --tiy-bg-color: rgb(255, 255, 255);
  --tiy-text-color: rgb(60, 60, 60);
  --tiy-code-bg-color: rgb(235, 237, 240);
  --tiy-font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --tiy-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

html[data-theme='dark'] {
  --tiy-bg-color: rgb(24, 25, 26);
  --tiy-text-color: rgb(233, 233, 233);
  --tiy-code-bg-color: rgb(68, 73, 80);
}
